/* src/Carousel.css */
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-content {
    display: flex;
    transition: transform 0.3s ease-in-out;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1);
  }
  
  .carousel-item {
    flex: 0 0 25%; /* Display 4 items in a row */
    padding: 20px;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    opacity: 0.7;
  }
  
  .carousel-item.active {
    opacity: 1;
  }
  
  .carousel-text {
    text-align: center;
  }
  
  .carousel-item img {
    max-width: 100%;
    height: auto;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 24px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
  .prev-button:hover,
  .next-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  /* Scrollbar styles */
  .carousel-content::-webkit-scrollbar {
    width: 6px;
  }
  
  .carousel-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
  
  .carousel-content::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
  }
  