.firstTop{
    background: #c2c2af;
    color: black;
}
.firstTop p{
    text-align: center;
    padding: 7px;
}
.secondTop{
    background: #252525;
    color: aliceblue;
}
.secondTop p{
    text-align: center;
    padding: 7px;
}




/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
    .firstTop{
        display: none;
    }
    .secondTop{
        display: none;
    }
}